
.header {
width: 100%; 
border-bottom: 5px black solid;
margin-bottom: 10px;
}

.appPage {
  display:grid;
  width: 100%; 
  grid-template-columns: repeat(4, minmax(5rem, 1fr));
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.card {
  display: flex;
  flex-direction:column;
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 0.5rem;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image {
  height: 150px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-name {
  margin: 4px 0;
  font-weight: bold;
}

.no-shadow:hover {
  box-shadow: none;
}

.card-unit-price {
  margin-top: 0;
  margin-bottom: 4px;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
}

.farewell{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
